/* Fonts */
$font-primary: "Roboto", sans-serif;

/* Font Sizes */
$original_font_size: 1rem; // 16px

/* Colors */
$blue: #60a5fa;
$blue-hover: #3b82f6;
$dark-blue: #2563eb;
$dark-blue-hover: #1d4ed8;
$red: #f87171;
$dark-red: #dc2626;
$red-hover: #ef4444;
$green: #4ade80;
$green-hover: #22c55e;
$light: #ffffff;
$light-opacity: #ffffff80;
$dark: #111827;
$dark-opacity: #11182780;
$gray: #c7cad1;
$linkedin: #0a66c2;
$gmail: #d44638;

/* Star */
$star-light-gray: #e6e6e6;
$star-saffron-yellow: #ffcc00;
$star-dark: #111827;